<!DOCTYPE html>
<html>
  <head>
    <title>Palabre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/public/css/bootstrap.min.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('/public/css/bootstrap-responsive.css') }}" rel="stylesheet">   
   {% endblock %}
   
  </head>
 
    <body>
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ path('palabre_home') }}">Palabre</a>
                <ul class="nav">
                {% block profilMenu %}
                     {{ render(controller("PalabreAppBundle:User:profilMenu")) }}
                {% endblock %} 
                {% block userMenu %}
                     {{ render(controller("PalabreAppBundle:User:userMenu")) }}
                {% endblock %} 
                </ul>
            </div>
        </div>
    </div> 
    <div class="container">
        <div class="row">
            <div class="span12">
            {% block message %}
                {% include 'PalabreAppBundle:Main:message.html.twig' %}
            {% endblock %}   
            </div>
            <div class="span12">
                {% block main %}
                {% endblock%}   
            </div>
            {% block widget %}
            {% endblock%}                      
        </div>
    </div>
    {% block javascript %}
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="{{ asset('/public/js/bootstrap.min.js ') }}"></script>
        {{ snide_extra_form_init() }}
    {% endblock %}
  </body>

</html>