{% extends '::base.html.twig' %}
{% trans_default_domain 'PalabreUserBundle' %}

{% block main %}

{% block palabre_user_content %}
<h1>{{ 'user.list.title'|trans }}</h1>
<table class="table table-striped">
<tbody>
{% for user in users %}
    <tr>
        <td>
            <strong>{{ user.firstname }} {{ user.lastname }}</strong><br>
            {{ user.username }}<br/>
            {{ user.email }}
        </td>
        <td>
            <a href="{{ path('palabre_user_edit', {'id':user.id}) }}" title="{{ 'user.list.edit'|trans }}">
                <span class="icon-pencil"></span>
            </a>
        </td>
        <td>
            <a href="{{ path('palabre_user_delete', {'id':user.id}) }}" title="{{ 'user.list.delete'|trans }}">
                <span class="icon-trash"></span>
            </a>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock palabre_user_content %}

{% endblock %}
