{% extends '::base.html.twig' %}
{% trans_default_domain 'PalabreUserBundle' %}

{% block main %}

{% block palabre_user_content %}
<h1>{{ 'user.list.title'|trans }}</h1>

{% if users is not empty %}
<table class="table table-striped">
<tbody>
{% for user in users %}
    <tr>
        <td>
            <strong>{{ user.firstname }} {{ user.lastname }}</strong><br>
            {{ user.username }}<br/>
            {{ user.email }}
        </td>
        <td>
            <a href="{{ path('palabre_user_edit', {'id':user.id}) }}" title="{{ 'user.list.edit'|trans }}">
                <span class="icon-pencil"></span>
            </a>
        </td>
        <td>
            <a href="{{ path('palabre_user_delete', {'id':user.id}) }}" title="{{ 'user.list.delete'|trans }}">
                <span class="icon-trash"></span>
            </a>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
{% else %}
Pas de user
{% endif %}

{% if last_page > 1 %}
<div class="pagination pagination-centered">
    <ul>
        <li {% if current_page == 1 %}class="disabled"{% endif %}>
            <a href="{{ path('palabre_user_list', {'page': previous_page}) }}">{{ 'user.list.previous'|trans }}</a>
        </li>
        {% for page in 1..last_page %}
        <li {% if current_page == page %}class="disabled"{% endif %}>
            <a href="{{ path('palabre_user_list', {'page': page}) }}">{{ page }}</a>
        </li>
        {% endfor %}
        <li {% if current_page == last_page %}class="disabled"{% endif %}>
            <a href="{{ path('palabre_user_list', {'page': next_page}) }}">{{ 'user.list.next'|trans }}</a>
        </li>
    </ul>
 </div>
{% endif %}
{% endblock palabre_user_content %}

{% endblock %}
