{% trans_default_domain 'PalabreUserBundle' %}

<div id='user_menu'>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                
    <h3>{{ user.firstname }} {{ user.lastname }}</h3>

    <ul>
        {% for item in menu %}
        <li>
            <a href="{{ path(item.path) }}">{{ item.label|trans }}</a>
        </li>
        {% endfor %}
    </ul>


{% else %}
    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
{% endif %}
</div>